<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="rent or buy your home without much hassle"/>
    <meta name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap" rel="stylesheet">
    <title>{% block head_title %}RentYourHouse{% endblock %}
</title>
    <!-- <link rel="stylesheet" href="{% static 'pages/css/cssreset-meyers.css' %}"> -->
    <link rel="stylesheet" href="{% static 'pages/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/index.css' %}">
    {% block extra_styles %} {% endblock %}
</head>
<body>

    <header>
       {% include 'pages/navigation.html' %}
    </header>

    <div class="main-content">
        {% block content %} {% endblock %}
    </div>

    {% include 'pages/footer.html' %}

    <script src="{% static 'pages/js/jquery-3.6.0.min.js' %}"></script>
    <!-- <script src="{% static 'pages/js/jquery.film_roll.min.js' %}"></script> -->
    <!-- <script src="{% static 'pages/js/jquery.touchSwipe.min.js' %}"></script> -->
    <script src="{% static 'pages/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'pages/js/cookies.js' %}"></script>
    <script src="{% static 'pages/js/index.js' %}"></script>
    {% block extra_scripts %} {% endblock %}

</body>
</html>