{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1>Page Us</h1>
            </div>
            <div class="col-6">
                <h1>Page Us</h1>
            </div>
        </div>

        <div class="row g-1 my-3 product-images">
            <div class="col-12">
                <h5>Services</h5>
            </div>
            <div class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>house rent</p>
            </div>
            <div class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>property purchase</p>
            </div>
            <div class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>estate development</p>
            </div>
            <div class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>interior decoration</p>
            </div>
        </div>


        <div class="row g-1 product-images home-box">
            <div class="col-12">
                <h5>Search by region</h5>
            </div>
            <div data-group="home" data-filterby="region" data-filter="abuja" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>abuja</p>
            </div>
            <div data-group="home" data-filterby="region" data-filter="lagos" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>lagos</p>
            </div>
            <div data-group="home" data-filterby="region" data-filter="illorin" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>illorin</p>
            </div>
            <div data-group="home" data-filterby="region" data-filter="ondo" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>ondo</p>
            </div>
            <div data-group="home" data-filterby="region" data-filter="akure" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>akure</p>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-12">
                <h5>Search by region</h5>
            </div>
            <div id="film-roll">
                <div class="product-image">
                    <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                    <p>Region 2</p>
                </div>
                <div class="product-image">
                    <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                    <p>Region 3</p>
                </div>
                <div class="product-image">
                    <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                    <p>Region 4</p>
                </div>
                <div class="product-image">
                    <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                    <p>Region 5</p>
                </div>
                <div class="product-image">
                    <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                    <p>Region 6</p>
                </div>
            </div>
        </div> -->
        <div class="row g-1 product-images home-box">
            <div class="col-12">
                <h5>Search by type</h5>
            </div>
            <div data-group="home" data-filterby="type" data-filter="a room" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>a room</p>
            </div>
            <div data-group="home" data-filterby="type" data-filter="face me and face you" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>face me and face you</p>
            </div>
            <div data-group="home" data-filterby="type" data-filter="one bedroom self con" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>one bedroom self con</p>
            </div>
            <div data-group="home" data-filterby="type" data-filter="two bedroom self con" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>two bedroom self con</p>
            </div>
            <div data-group="home" data-filterby="type" data-filter="three bedroom self con" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>three bedroom self con</p>
            </div>
            <div data-group="home" data-filterby="type" data-filter="duplex" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>Duplex</p>
            </div>
            <div data-group="home" data-filterby="type" data-filter="upstairs" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>Upstairs</p>
            </div>
            <div data-group="home" data-filterby="type" data-filter="bungalow" class="col-3 product-image">
                <img src="{% static 'pages/media/wedoimg.jpg' %}" class="img-fluid">
                <p>Bungalow</p>
            </div>
        </div>
    </div>
</main>
<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5>About Us</h5>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5>About Us</h5>
            </div>
        </div>
    </div>
</section>
{% endblock %}