{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <div class="row g-1 my-3">
            <h1>{{ page_title }}</h1>
            <div class="card home-box">
                <div class="card-body">
                    <div>
                        <h5>Short Description</h5>
                        <h6 class="agency-name">
                            <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                            <span class="">Name of Agency</span>
                        </h6>
                    </div>
                    <div class="action-btns d-flex align-items-center justify-content-center flex-column">
                        
                        {% if on_site %}
                        <button class="btn btn-md pass-btn">Pass</button>
                        <button class="btn btn-md breakdown-btn">Breakdown</button>
                        {% else %}
                        <a href="{% url 'review_home' '3' %}" class="btn btn-md review-btn">Review</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card home-box">
                <div class="card-body">
                    <div>
                        <h5>Short Description</h5>
                        <h6 class="agency-name">
                            <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                            <span class="">Name of Agency</span>
                        </h6>
                    </div>
                    <div class="action-btns d-flex align-items-center justify-content-center flex-column">
                        <a href="{% url 'review_home' '5' %}" class="btn btn-md review-btn">Review</a>
                    </div>
                </div>
            </div>
            <div class="card home-box">
                <div class="card-body">
                    <h5>Short Description</h5>
                    <button class="btn btn-md revie-btn">Review</button>
                    <h6>
                        <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                        Name of Agency
                    </h6>
                </div>
            </div>
            <div class="card home-box">
                <div class="card-body">
                    <h5>Short Description</h5>
                    <button class="btn btn-md review-btn">Review</button>
                    <h6>
                        <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                        Name of Agency
                    </h6>
                </div>
            </div>
            <div class="card home-box">
                <div class="card-body">
                    <h5>Short Description</h5>
                    <button class="btn btn-md review-btn">Review</button>
                    <h6>
                        <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                        Name of Agency
                    </h6>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}