{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <div class="row g-1 my-3">
            <h1>List of homes</h1>
            {% if home_list %}
            {% if onsite_review or not_reviewed or updated_for_review or remote_review %}
            {% for home in home_list %}
            <div class="card home-box">
                <div class="card-body">
                    <div>
                        <h5>{{ home.short_description }}</h5>
                        <h6 class="agency-name">
                            <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                            <span class="">{{ request.user }}</span>
                        </h6>
                    </div>
                    <div class="action-btns d-flex align-items-center justify-content-center flex-column">
                        
                        {% if onsite_review %}
                        <a href="{% url 'take_action_on_home' 'pass_review' home.home_id %}" class="btn btn-md btn-success">pass</a>
                        <a class="btn btn-md btn-danger breakdown-btn" href="{% url 'take_action_on_home' 'breakdown_review' home.home_id %}">Breakdown</a>
                        {% else %}
                        <a href="{% url 'review_home' home.home_id %}" class="btn btn-md review-btn">Review</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if passed_review or on_sale %}
            {% for home in home_list %}
            <div class="card home-box">
                <div class="card-body">
                    <div>
                        <h5>{{ home.short_description }}</h5>
                        <h6 class="agency-name">
                            <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                            <span class="">{{ request.user }}</span>
                        </h6>
                    </div>
                    <div class="action-btns d-flex align-items-center justify-content-center flex-column">
                        {% if passed_review %}
                        <a class="btn btn-md btn-light breakdown-btn" href="#">Send Reminder</a>
                        {% else %}
                        <a class="btn btn-md btn-success breakdown-btn" href="{% url 'take_action_on_home' 'ongoing' home.home_id %}">activate</a>
                        {% endif %}
                        <a class="btn btn-md btn-danger breakdown-btn" href="{% url 'take_action_on_home' 'breakdown_review' home.home_id %}">Breakdown</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if ongoing %}
            {% for home in home_list %}
            <div class="card home-box">
                <div class="card-body">
                    <div>
                        <h5>{{ home.short_description }}</h5>
                        <h6 class="agency-name">
                            <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                            <span class="">{{ request.user }}</span>
                        </h6>
                    </div>
                    <div class="action-btns d-flex align-items-center justify-content-center flex-column">
                        <a class="btn btn-md btn-danger breakdown-btn" href="{% url 'take_action_on_home' 'to_onsale' home.home_id %}">revert</a>
                        <a class="btn btn-md btn-success" href="{% url 'take_action_on_home' 'complete' home.home_id %}">complete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if sold %}
            {% for home in home_list %}
            <div class="card home-box">
                <div class="card-body">
                    <div>
                        <h5>{{ home.short_description }}</h5>
                        <h6 class="agency-name">
                            <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                            <span class="">{{ request.user }}</span>
                        </h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center flex-column">
                        <p>
                            <span class="title">Actual Price: </span>
                            <span class="value">$750</span>
                        </p>
                        <p>
                            <span class="title">Selling Price: </span>
                            <span class="value">$900</span>
                        </p>
                        <p>
                            <span class="title">Sold For: </span>
                            <span class="value">$1,200</span>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="card home-box">
                <div class="card-body">
                    <div>
                        <h5>Short Description</h5>
                        <h6 class="agency-name">
                            <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                            <span class="">Name of Agency</span>
                        </h6>
                    </div>
                    <div class="action-btns d-flex align-items-center justify-content-center flex-column">
                        <a href="{% url 'review_home' '5' %}" class="btn btn-md review-btn">Review</a>
                    </div>
                </div>
            </div>
            <!-- <div class="card home-box">
                <div class="card-body">
                    <h5>Short Description</h5>
                    <button class="btn btn-md revie-btn">Review</button>
                    <h6>
                        <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                        Name of Agency
                    </h6>
                </div>
            </div>
            <div class="card home-box">
                <div class="card-body">
                    <h5>Short Description</h5>
                    <button class="btn btn-md review-btn">Review</button>
                    <h6>
                        <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                        Name of Agency
                    </h6>
                </div>
            </div>
            <div class="card home-box">
                <div class="card-body">
                    <h5>Short Description</h5>
                    <button class="btn btn-md review-btn">Review</button>
                    <h6>
                        <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                        Name of Agency
                    </h6>
                </div>
            </div> -->
            {% else %}
            <p>No homes here</p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}