<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">RentYourHouse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                    {% if not request.user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user_homes_list' %}" class="nav-link">Your Homes</a>
                    </li>
                    {% endif %}
                {% endif %}  
                {% if request.user.is_staff %}
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle">All Homes</a>
                    <div class="dropdown-menu bg-light">
                        <a href="{% url 'review_list' 'not_reviewed' %}" class="nav-link">Not Reviewed</a>
                        <a href="{% url 'review_list' 'remote_review' %}" class="nav-link">On Review (remote)</a>
                        <a href="{% url 'review_list' 'updated_for_review' %}" class="nav-link">Updated for Review</a>
                        <a href="{% url 'review_list' 'onsite_review' %}" class="nav-link">On Review (on-site)</a>
                        <a href="{% url 'review_list' 'passed_review' %}" class="nav-link">Passed Review</a>
                        <a href="{% url 'review_list' 'on_sale' %}" class="nav-link">On Sale (rent)</a>
                        <a href="{% url 'review_list' 'ongoing' %}" class="nav-link">Transaction Ongoing</a>
                        <a href="{% url 'review_list' 'sold' %}" class="nav-link">Sold (rented)</a>
                      <!-- <a *ngFor="let service of services | async" class="nav-link" (click)="menuBtn.click()" routerLinkActive="active-nav" [routerLink]="['/', 'section']" [queryParams]="{'section': service.uhash, 'title': service.title}" [routerLinkActiveOptions]="{exact: true}">{{ service.title }}</a> -->
                    </div>
                  </li>
                {% endif %}            
                <!-- <li class="nav-item">
                    <a href="{% url 'products_all' %}" class="nav-link">Services</a>
                </li> -->
                <li class="nav-item">
                    <a href="{% url 'faqs' %}" class="nav-link">FAQs</a>
                </li>
                <li class="nav-item">
                    <a href="/#about" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="/#contact" class="nav-link">Contact Us</a>
                </li>
                <div class="reg-links">
                    {% if not request.user.is_authenticated %}
                    <p><a href="{% url 'account_signup' %}">Sign Up</a> | <a href="{% url 'account_login' %}">Sign in</a></p>
                    {% else %}
                    <p><a href="{% url 'account_logout' %}">Sign out</a></p>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
</nav>