{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="text-error">Urgent action needed</h1>
        <p>Sorry, your email address is not verified yet. Kindly check through your mails, we have sent a mail containing your verification link.</p>
        <p>After verifying your mail, you should be able to access this page and fully use your account.</p>

        <p class="text-secondary">If you think this is an error, please <a href="/#contact">contact us</a> to resolve this issue.</p>
    </div>
</main>
{% endblock %}