{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <div class="row g-1 my-3 product-images">
            <h1>Passed Review</h1>
            <div class="card home-box">
                <div class="card-body">
                    <div>
                        <h5>Short Description</h5>
                        <h6 class="agency-name">
                            <img src="{% static 'pages/media/twitter.png' %}" class="thumbnail" alt="name of agency">
                            <span class="">Name of Agency</span>
                        </h6>
                    </div>
                    <div class="action-btns d-flex align-items-center justify-content-center flex-column">
                        <button class="btn btn-md pass-btn">Send Reminder</button>
                        <button class="btn btn-md breakdown-btn">Breakdown</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}