{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <div class="row g-1 my-3 product-images">
            <h1>Review Home</h1>
            <div class="">
                <!-- vslebtwd
                @Vsl2022@@! -->
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="imagesMessage">Images Error Message: </label>
                        <div class="">
                            <button data-imageurls="{{ home.album }}" class="btn btn-md btn-primary">view images</button>
                        </div>
                        <textarea name="album_msg" id="imagesMessage" cols="30" class="form-control" placeholder="Album error message">{% if form %}{{ prefill.album_msg }}{% endif %}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="short_description">Short Description Error Message</label>
                        <p>{{ home.short_description }}</p>
                        <textarea name="short_description_msg" id="short_description" cols="30" class="form-control" placeholder="Short description error message">{% if form %}{{ prefill.short_description_msg }}{% endif %}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="addressMessage">Address Error Message</label>
                        <p>{{ home.address }}</p>
                        <textarea name="address_msg" id="addressMessage" cols="30" class="form-control" placeholder="Address error message">{% if form %}{{ prefill.address_msg }}{% endif %}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="priceMessage">Price Error Message</label>
                        <p>{{ home.price }}</p>
                        <textarea name="price_msg" id="priceMessage" cols="30" class="form-control" placeholder="Price error message">{% if form %}{{ prefill.price_msg }}{% endif %}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="apartmentType">Apartment Type Error Message</label>
                        <p>{{ home.apartment_type }}</p>
                        <textarea name="apartment_type_msg" id="apartmentType" cols="30" class="form-control" placeholder="Apartment type error message">{% if form %}{{ prefill.apartment_type_msg }}{% endif %}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="selling_point">Selling Points Error Message</label>
                        <p>{{ home.selling_point }}</p>
                        <textarea name="selling_point_msg" id="selling_point" cols="30" class="form-control" placeholder="Selling points error message">{% if form %}{{ prefill.selling_point_msg }}{% endif %}</textarea>
                    </div>
                    <div class="mb-3">
                        <input type="button" value="back" onclick="backOneStep()">
                        <a href="{% url 'take_action_on_home' 'pass_remote_review' home.home_id %}" class="btn btn-md btn-success">mark as done</a>
                        <input type="submit" value="update">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}