body, html {
    background-color: rgba(243, 241, 241, 0.952);
}
h1, h5 {
    color: red;
}
img {
    width: 100%;
}
.main-content {
    min-height: calc(90vh - 72px);
}
footer {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ff8d05; */
}
#about {
    min-height: 100vh;
    /* background-color: green; */
}
/* FOR CONTACT SECTION */
#contact {
    background-color: rgba(8, 8, 8, 0.863);
    background-image: url("/static/pages/media/contact.jpg");
    background-position: center;
    background-size: cover;
}
#contact .row {
    min-height: 90vh;
}

/* APPLIES WHEN MENU IS EXPANDED (ON MOBILES) */
.menu-expanded {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    min-height: 100vh;
    display: block;
    z-index: 100;
}

.menu-expanded .navbar-collapse li {
    margin: .5em 1em;
    padding: 1em 0em;
    border-bottom: .5px solid black;
}

.menu-expanded .reg-links {
    margin: 5rem auto 0 auto;
    display: flex;
    justify-content: center;
}

.menu-expanded .dropdown-menu {
    border: none;
}

.menu-expanded .dropdown-menu {
    border: none;
} 
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid;
}

.navbar-light .navbar-nav .show>.nav-link:last-of-type{
    border: none;
}

/* FOR INDEX PAGE */
#homeCarousel {
    background-color: rgba(0, 0, 0, 0.973);
}
#homeCarousel .carousel-item div {
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* FOR PRODUCT IMAGES */
.product-image {
    position: relative;
    cursor: pointer;
}

.product-image.coming-soon::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 25;
}

.product-images > .product-image p {
    background-color: rgba(7, 1, 1, 0.815);
    color: rgba(214, 18, 18, 0.863);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0rem;
    padding: 0.5rem;
    text-transform: capitalize;
}

/* FOR OFFERS IMAGES */
.offers .offer-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem 0rem;
}

.offers .offer-box > :first-of-type {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.offers .offer-box > div:last-of-type {
    margin: 0rem 1rem;
    position: relative;
}

.offers .offer-box > div:last-of-type button {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* FOR SINGLE PRODUCT PAGE */
.products-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.products-header > div:nth-of-type(2) {
    border-left: 2px;
    border-right: 2px;
}
.negotiation-btn {
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    text-transform: capitalize;
}
.carousel-inner > div {
    height: 40vh;
    /* max-height:480px; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* FOR CAROUSEL IMAGE */
.product-image.carousel-item img {
    width: 100%;
}

/* FOR CONTACT US SECTION */
.members-section .col {
    box-shadow: black 3px 1px 5px 1px;
    padding: 2em;
    margin: .5em;
    border-radius: 20px;
    max-width: 384px;
}
.member-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 1em;
}
.member-details p > span {
    display: block;
}
.member-details span.name {
    font-size: 1.5em;
    font-weight: 700;
}
.member-details span.role, .member-details span.number {
    font-size: 1.1em;
    color: #ff8d05;
    font-style: italic;
}
.member-details span.number {
    display: flex;
    align-items: center;
}
.member-details span.number .social-icon {
    width: 1em;
}

/* FOR UPLOAD HOME FORM */
.upload-form select {
    width: calc(100% - 140px);
}
.upload-form {
    display: absolute;
    height: calc(100vh - 375px);
    width: 100vw;
    top: 0;
    left: 0;
}

.upload-form .action-buttons {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form-field.error-field {
    border-color: #dc3545;
}

.upload-form .action-buttons button {
    margin: 0.5rem 0.25rem;
}

/* FOR LIST HOME FOR REVIEW PAGES */
.home-box .card-body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 20px;
}

.home-box .card-body div:first-of-type {
    position: relative
}

.home-box .card-body div:first-of-type .agency-name {
    position: absolute;
    bottom: 0;
    left: 0;
}
.review-btn {
    margin: 1.5em 0;
}
.thumbnail {
    width: 30px;
    height: 30px;
}

/* FOR USER HOME LIST PAGE */
.user-home-box .card-body {
    border-radius: 10px;
}
.home-tag {
    background-color: #ff8d05;
    word-break: keep-all;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 3px;
    width: max-content;
    display: inline-flex;
}

/* FOR USER REVIEW HOME PAGE (FORM) */
.audit-ok {
    display: none;
}

/* FOR EXTRA-PAGES THAT COMES FROM DJANGO-ALLAUTH */
.extra-container {
    max-width: 480px;
}

.extra-container p {
    text-align: justify;
}

@media screen and (min-device-width: 768px) {
    h1, h5 {
        color: green;
    }

    #homeCarousel .carousel-item div {
        height: calc(100vh - 56px);
    }

    /* FOR SINGLE PRODUCT PAGE */
    .carousel-inner > div {
        height: 90vh;
        max-height:480px;
    }

}